In [1]:

# Dependencies

import pandas as pd
import numpy as np
import scipy.stats as stats
from pathlib import Path
from py_scripts.functions import Master_NC_Dataframe
from py_scripts.functions import column_list
from py_scripts.functions import data_categories


#Specific to the Chi Square Test
# Quick install to dev env with pip install researchpy
import researchpy as rp

In [2]:
newish_c = data_categories['not_per_1000']['Poverty and Welfare'] + data_categories['not_per_1000']['Education']
newish_df = Master_NC_Dataframe[newish_c]
newish_df.head()

,Percent of White Persons in Poverty,Percent of Am. Indian Alaska Native Persons in Poverty,Percent of Black Persons in Poverty,Percent of Hispanic Persons in Poverty,Percent of Persons 65 Up in Poverty,Percent of Persons in Poverty,Percent of Related Children under 18 in Poverty,Percent of Related Children under 6 in Poverty,Percent Below Poverty,National Rank (Poverty),SAT Redesign Average ERW Score,SAT Redesign Average Math Score,SAT Redesign Total Average Score,Pct HS Educated,National Rank (HS Education)
0,11.97,13.22,24.93,24.32,8.97,15.42,21.90,21.60,14.4,"1,777",521.0,520.0,1042.0,12.3,"1,891"
1,9.44,0.00,31.25,36.11,8.65,12.30,22.19,23.27,11.5,"1,106",543.0,540.0,1083.0,15.0,"2,314"
2,22.13,0.00,71.25,57.86,13.19,22.61,40.38,45.51,21.5,"2,761",515.0,532.0,1046.0,20.5,"2,886"
3,8.80,8.93,28.55,10.66,15.72,18.77,31.32,41.49,18.3,"2,461",482.0,466.0,948.0,17.5,"2,598"
4,14.74,17.65,37.79,30.17,8.73,14.83,20.00,19.38,14.0,"1,691",564.0,534.0,1098.0,13.0,"1,996"

In [13]:
# First method is to use the scipy.stats.chisquare function
crosstab = pd.crosstab(Master_df['Black Population'], Master_df['Asian Population'])

NameError: name 'Master_df' is not defined

In [ ]:
# Second method is to use researchpy package