# Data Collection

The goal of this file is to create a Dataframe which contains metrics for each county in North Carolina.

In [2]:
# Dependencies

# TODO Add dependencies
import pandas as pd
import json
from pathlib import Path

In [3]:
#read in csvs and jsons into dataframes and print head

#vital-statistics-and-health-linc.json
all_health_osbm_df = pd.read_json("Resources/vital-statistics-and-health-linc.json")
all_health_osbm_df.head()

         area_name area_type  year                            variable  value
0     Anson County    County  2001  Low-Weight Births Under 2500 Grams     28
1      Ashe County    County  2001  Low-Weight Births Under 2500 Grams     21
2   Caswell County    County  2001  Low-Weight Births Under 2500 Grams     17
3  Franklin County    County  2001  Low-Weight Births Under 2500 Grams     56
4     Gates County    County  2001  Low-Weight Births Under 2500 Grams     13

In [4]:
#employment-and-income-linc.json
all_employment_osbm_df = pd.read_json("Resources/employment-and-income-linc.json")
all_employment_osbm_df.head()

,area_name,area_type,year,variable,value
0,Ashe County,County,2020,Labor Force by Place of Residence,12663.0
1,Currituck County,County,2020,Labor Force by Place of Residence,13851.0
2,Duplin County,County,2020,Labor Force by Place of Residence,24812.0
3,Edgecombe County,County,2020,Labor Force by Place of Residence,20702.0
4,Gates County,County,2020,Labor Force by Place of Residence,5069.0

In [5]:
#population-by-age-race-sex-linc.json
all_population_demog_df = pd.read_json("Resources/population-by-age-race-sex-linc.json")
all_population_demog_df.head()

,area_name,area_type,year,sex,race,variable,value,data_type,vintage
0,Stanly County,County,2020,Female,Other,Population Age 0-4,320,Estimate,2020
1,Stanly County,County,2020,Female,Other,Population Age 40-44,293,Estimate,2020
2,Stanly County,County,2020,Female,Other,Population Age 65-69,319,Estimate,2020
3,Stanly County,County,2020,Female,White,Population Age 0-4,1342,Estimate,2020
4,Stanly County,County,2020,Female,White,Population Age 16-17,587,Estimate,2020

In [7]:
#NIH_high_school_ed.csv
#skip the first 5 rows of the csv

all_high_school_ed_df = pd.read_csv("Resources/NIH_high_school_ed.csv", skiprows=5)
all_high_school_ed_df.head()

,County,FIPS,Value (Percent),People(Education: Less Than High School),Rank within US (of 3142 counties)
0,United States,0.0,11.1,25050356.0,NaN
1,North Carolina,37000.0,11.0,776686.0,35 of 51
2,Tyrrell County,37177.0,23.8,627.0,"3,016"
3,Greene County,37079.0,22.4,3259.0,"2,964"
4,Robeson County,37155.0,22.1,16966.0,"2,949"

In [10]:
#NIH_median_income.csv
#skip the first 4 rows of the csv
all_median_income_df = pd.read_csv("Resources/NIH_median_income.csv", skiprows=4)
all_median_income_df.head()

,County,FIPS,Value (Dollars),Rank within US (of 3141 counties)
0,North Carolina,37000.0,60516.0,41 of 51
1,United States,0.0,69021.0,NaN
2,Washington County,37187.0,32937.0,"3,087"
3,Robeson County,37155.0,36736.0,"3,012"
4,Bertie County,37015.0,37571.0,"2,993"

In [11]:
#NIH_persons_below_poverty.csv
#skip the first 4 rows of the csv
all_persons_below_poverty_df = pd.read_csv("Resources/NIH_persons_below_poverty.csv", skiprows=4)
all_persons_below_poverty_df.head()

,County,FIPS,Value (Percent),People (Below Poverty),Rank within US (of 3142 counties)
0,North Carolina,37000.0,13.7,1379672.0,38 of 51
1,United States,0.0,12.6,40661636.0,NaN
2,Robeson County,37155.0,27.3,31458.0,"3,033"
3,Halifax County,37083.0,26.2,12615.0,"3,010"
4,Scotland County,37165.0,26.1,8429.0,"3,000"

In [14]:
#NIH_persons_below_poverty.csv
#skip the first 4 rows of the csv
all_unemployment_df = pd.read_csv("Resources/NIH_persons_below_poverty.csv", skiprows=4)
all_unemployment_df.head()

,County,FIPS,Value (Percent),People (Below Poverty),Rank within US (of 3142 counties)
0,North Carolina,37000.0,13.7,1379672.0,38 of 51
1,United States,0.0,12.6,40661636.0,NaN
2,Robeson County,37155.0,27.3,31458.0,"3,033"
3,Halifax County,37083.0,26.2,12615.0,"3,010"
4,Scotland County,37165.0,26.1,8429.0,"3,000"

In [15]:
#NIH_persons_unemployed.csv
#skip the first 4 rows of the csv
all_persons_unemployed_df = pd.read_csv("Resources/NIH_persons_unemployed.csv", skiprows=4)
all_persons_unemployed_df.head()

,County,FIPS,Value (Percent),People (Unemployed),Rank within US (of 3142 counties)
0,United States,0.0,5.5,9161615.0,NaN
1,North Carolina,37000.0,5.3,273629.0,29 of 51
2,Scotland County,37165.0,11.3,1604.0,"3,056"
3,Martin County,37117.0,10.4,1070.0,"3,026"
4,Gates County,37073.0,9.7,485.0,"2,991"

In [27]:
#-------------TEST DF------NEEDS CLEANED-----------------------
#create a unique list of counties from the NIH csvs
#use the county column from the NIH csvs
County_df = pd.DataFrame(all_health_osbm_df["area_name"].unique())
#sort the counties
County_df = County_df.sort_values(by=0)
print(County_df.head(106))
#print(len(County_df))   #there are 100 counties in the NIH csvs

                       0
2252  Abbotts Creek Twp.
349     Abbotts Township
274             Aberdeen
250              Ahoskie
379     Ahoskie Township
...                  ...
511             BNA 9703
859          BNA 9703.99
878             BNA 9704
853             BNA 9705
452             BNA 9706

[106 rows x 1 columns]

In [ ]:
# Create primary Dataframe called county_data.

# TODO Initialize primary Dataframe for 100 counties (county_data)

# TODO Read in csv files from Resources directory as their own DataFrames, then merge with county_data.

# TODO Rename any columns.

In [ ]:
# Data cleaning.

# TODO Check length of df, run df.dropnas(), see new length.  Are we losing important data? Run replace methods to address?